
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.*
__pycache__/
*.pyc
dataflow.out/*
logs/*
site.out/*

!dataflow.out/.gitkeep
!logs/.gitkeep
!site.out/.gitkeep

data/0*.json
data/raw/*

!data/.gitkeep
!data/raw/.gitkeep
