
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.*
__pycache__/
*.pyc
dataflow.out/*
logs/*
site.out/*

!dataflow.out/.gitkeep
!logs/.gitkeep
!site.out/.gitkeep

dataflow.out/0*.json
dataflow.out/raw/*

!dataflow.out/.gitkeep
!dataflow.out/raw/.gitkeep
